.favorites-container {
    padding: 20px;
  }
  
  .favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .favorite-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures space between image/details and button */
    height: 350px; /* Set a fixed height to maintain uniformity */
    padding-bottom: 10px;
  }
  
  .favorite-image-div {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .favorite-item-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  .favorite-item-details {
    padding: 10px;
    flex-grow: 1; /* Ensures the details section grows to take available space */
  }
  
  .favorite-item-details h2 {
    font-size: 16px;
    margin: 0;
  }
  
  .favorite-item-details p {
    margin: 5px 0;
    color: black;
  }
  
  .add-to-cart,.favorite-btn {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin: 10px auto 20px auto; /* Centers the button and adds spacing */
    display: block;
    width: 80%; /* Adjust the width for consistency */
  }
  
  .add-to-cart:hover {
    background-color: purple;
  }
  .favorite-btn{
    background-color: white;
    border: 1px black solid;
  }
  .favorite-btn1{
    margin-left: 2px;
    background-color: white;
  }
  .favorite-btn1:hover{
    border-radius: 20px;
  }